/* header */
.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    }

    .navbar a:hover {
    background-color: #ddd;
    color: black;
    }
    /*close header */
    /* body navigation */
    .row{
        height:1200px;
    }
    body {
        font-family: sans-serif;
        font-size: 15px;
        font-weight:bold;
    }
    h1{
        margin-top:20px;
        color:white;
    }
    .col-sm-2{
        background:black;
    }
    #menu ul {
        background: black;
        width: 200px;
        padding: 0;
        list-style-type: none;
        text-align: left;
    }
    #menu li {
        width: auto;
        height: 40px;
        line-height: 40px;
        border-bottom: 1px solid #e8e8e8;
        padding: 0 1em;
    }
    #menu li a {
        text-decoration: none;
        color: white;
        font-weight: bold;
        display: block;
    }
    #menu li:hover {
        background: #CDE2CD;
    }
    .center {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-top:10px;
    }
    /*close body navigation */
    /* dangky login*/
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
    .user-update{
        font-family: Arial, Helvetica, sans-serif;
    }
    h1, td{
        color: DodgerBlue;
        font-weight: bold;
    }
    input[type=text], input[type=password] {
        padding: 14px;
        margin: 5px 0 22px 0;
        display: inline-block;
        border: none;
        width:400px;
        resize: vertical;
        padding:15px;
        border-radius:15px;
        border:0;
        box-shadow:4px 4px 10px rgba(0,0,0,0.2);
    }
    input[type=text]:focus, input[type=password]:focus {
        outline: none;
    }
    .signupbtn {
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
    }
    button:hover {
        opacity:1;
    }
    .signupbtn {
        width: 30%;
        border-radius:15px;
        border:0;
        box-shadow:4px 4px 10px rgba(0,0,0,0.2);
    }
    /* dangky login*/
    /* footer */
    .footer{
        background:rgb(29, 27, 26);
        color:white;
        height:100px;
    }
    /* footer */